# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.eggs/
*.egg-info/
dist/
build/
*.so
.DS_Store

# FastAPI / Uvicorn
.uvicorn.log

# Celery
celerybeat-schedule

# Database
*.sqlite3

# Environment variables
.env
.env.*

# Frontend (React / Node)
node_modules/
build/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.js

# IDE / Editor specific
.idea/
.vscode/
*.swp